@import 'bootstrap/dist/css/bootstrap.min.css';
@import "bootstrap-icons/font/bootstrap-icons.css";

/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');

body {
    background-color: #f8f9fa;
    font-family: "Libre Baskerville", serif;
}

a{
    text-decoration: none;
    color: black;
}

.hover-card{
    transition: all 0.3s ease;
}

.hover-card:hover{
    transform: translateY(-4px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.296);
}